.payment {
  background-color: white;
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details {
  display: flex;
  justify-content: space-between;
}

.payment__details > form {
  flex: 1;
  max-width: 400px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  background-image: linear-gradient(
    to right,
    #ffb347 0%,
    #ffedb5 51%,
    #f3d484 100%
  );
}

.payment__details > form > div > button {
  border: 1px solid;
  border-radius: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 10px;
  height: 30px;
  width: 100%;
  cursor: pointer;
  font-weight: bolder;
  color: #111;
  transition: 0.5s;
  background-size: 200% auto;
}

.payment__details > form > div > button:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.demo__details {
  display: flex;
  flex-direction: column;
  color: gray;
}

.demo__details > p {
  font-size: x-small;
  margin-bottom: 5px;
}

.demo__details > span > p {
  font-size: x-small;
}
